<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-success">HOC NGAY</button>
        </div>
        <div class="col-lg-9">
            <h2>{{data.email}}</h2>
            <h3>{{data.mssv}}</h3>
        </div>
    </div>
</div>


<h1>STUDENT</h1>