<!DOCTYPE html>
<html>
 <head></head>
 <body>
 <form action="/upload-files" method="POST" enctype="multipart/form-data"> 
     <label for="files">Avatar</label>
     <input type="file" id="files"  name="files" multiple>
     <button type="submit">Upload</button>
</form>
 </body>
</html>