.max-width-50{
  max-width: 50%;
}

.ml-15{
  margin-left: 15px;
}

.mr-30{
  margin-right: 30px;
}

.ml-auto{
  margin-left: auto;
}

.user-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
}

.white{
  background-color:   #ffffff;
}
